@page "/createEvent"
@inherits CreateEventBase

<h3>Create Event</h3>

<div class="rz-p-0 rz-p-md-12">
    <EditForm Model="@Model" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
        <DataAnnotationsValidator />
        <RadzenStack Gap="1rem">

            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RadzenLabel Text="Title" Component="Title"/>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenTextBox Name="Title" @bind-Value="Model.Title" Style="display: block; width: 100%;"/>
                    <ValidationMessage For="@(() => Model.Title)" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RadzenLabel Text="Description" Component="Description"/>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenTextBox Name="Description" @bind-Value="Model.Description" Style="display: block; width: 100%;"/>
                    <ValidationMessage For="@(() => Model.Description)" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RadzenLabel Text="Starts At" Component="StartsAt"/>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenDatePicker Name="StartsAt" @bind-Value="Model.StartsAt" Style="display: block; width: 100%;"/>
                    <ValidationMessage For="@(() => Model.StartsAt)" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RadzenLabel Text="Capacity" Component="Capacity"/>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenNumeric TValue="int" Name="Capacity" @bind-Value="Model.Capacity" Style="display: block; width: 100%;"/>
                    <ValidationMessage For="@(() => Model.Capacity)" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                    <RadzenLabel Text="Location" Component="Location"/>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="8">
                    <RadzenTextBox Name="Location" @bind-Value="Model.Location" Style="display: block; width: 100%;"/>
                    <ValidationMessage For="@(() => Model.Location)" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center" class="rz-mt-4">
                <RadzenColumn Size="12" Offset="0" SizeMD="8" OffsetMD="4">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"/>
                </RadzenColumn>
            </RadzenRow>
        </RadzenStack>
    </EditForm>
</div>

@code {

}
